.container {
  width: 720px;
}

h1 {
  font-size: 4rem;
}

.btn--mobile-menu {
  display: none;
}

.btn--violet {
  -webkit-box-shadow: none;
          box-shadow: none;
}

nav {
  margin-top: 50px;
}

nav .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10.8%;
  width: 42.75%;
}

nav .container .btn {
  position: absolute;
  right: 0;
  bottom: unset;
}

nav .container .btn img {
  display: initial;
}

.landing-page {
  min-height: 100vh;
  padding: 130px 0 100px 0;
  background-position: 90% 75%;
  background-size: unset;
}

.landing-page h1 {
  width: 53%;
  font-size: 8rem;
}

.landing-page p {
  line-height: 160%;
  width: 34%;
}

.landing-page h1,
.landing-page p {
  margin-bottom: 50px;
}

.about {
  padding: 125px 92px 125px 50%;
  background-position: 5% 50%;
  background-size: unset;
}
