@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

body {
  font-family: "Nunito", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#f6fafd), color-stop(19.4%, #ffffff));
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

.container {
  position: relative;
  width: 1120px;
  margin: 0 auto;
}

.btn {
  padding: 21px 29px;
  border-radius: 50px;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
}

.btn--white {
  background: #fff;
  -webkit-box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
          box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: #212353;
}

.btn--violet {
  background-color: #9c69e2;
  color: #fff;
}

h1 {
  font-weight: 700;
  font-size: 4rem;
  color: #212353;
}

p {
  font-size: 1.8rem;
}

nav {
  margin-top: 50px;
}

nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .container .btn {
  position: absolute;
  right: 0;
}

nav .nav__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 10.8%;
  width: 28.75%;
}

nav .nav__links a {
  color: #4b5d68;
  text-decoration: none;
  font-size: 1.6rem;
}

nav .nav__links a.active {
  font-weight: 700;
  color: #212353;
}

nav .btn img {
  margin-left: 18px;
  vertical-align: middle;
}

.landing-page {
  min-height: 100vh;
  padding: 130px 0 100px 0;
  background-image: url("../img//bg/bg-lp.svg");
  background-position: 90% 75%;
  background-repeat: no-repeat;
}

.landing-page h1 {
  width: 53%;
  font-size: 8rem;
}

.landing-page p {
  line-height: 160%;
  width: 34%;
}

.landing-page h1,
.landing-page p {
  margin-bottom: 50px;
}

.about {
  padding: 125px 92px 125px 50%;
  background: rgba(240, 99, 184, 0.15) url("../img/bg/bg-about.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
  border-radius: 50px;
}

.about h1 {
  line-height: 130%;
  margin-bottom: 40px;
}

.about p {
  line-height: 160%;
  color: #4b5d68;
}

.features {
  margin-top: 150px;
  text-align: center;
}

.features h1 {
  font-size: 4rem;
  margin-bottom: 50px;
}

.features h2 {
  color: #212353;
  font-size: 2.4rem;
}

.features p {
  font-size: 1.6rem;
}

.features .features__header {
  width: 52%;
  margin: 0 auto 100px auto;
}
