@import "reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;1,700&display=swap");
@import "variables.scss";

body {
  font-family: "Nunito", sans-serif;
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

.container {
  position: relative;
  width: 96%;
  margin: 0 auto;
}

.btn {
  padding: 21px 29px;
  border-radius: 50px;
  border: none;
  font-size: 1.6rem;
  font-weight: 600;
  background: none;
  cursor: pointer;
}

.btn--white {
  background: #fff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: $darkBlue;
  z-index: 1;
}

.btn--violet {
  background-color: #9c69e2;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  color: #fff;
}

.btn--mobile-menu {
  position: absolute;
  right: 0;
  bottom: unset;
  padding: 15px;
  img {
    width: 30px;
  }
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
  color: $darkBlue;
}

p {
  font-size: 1.8rem;
}

main {
  overflow: hidden;
}

nav {
  margin-top: 3%;

  .container {
    position: relative;
    display: flex;
    align-items: center;

    .btn--white {
      position: fixed;
      right: 15px;
      bottom: 15px;
      z-index: 1;
      transform: translateX(-20%);

      img {
        display: none;
      }
    }
  }

  .nav__links {
    display: none;

    a {
      color: $darkGray;
      text-decoration: none;
      font-size: 1.6rem;
    }

    a.active {
      font-weight: 700;
      color: $darkBlue;
    }
  }

  .btn {
    img {
      margin-left: 18px;
      vertical-align: middle;
    }
  }
}

.landing-page {
  min-height: 100vh;
  padding: 30px 0 100px 0;
  background-image: url("../img//bg/bg-lp.svg");
  background-repeat: no-repeat;
  background-position: 50% 86%;
  background-size: 100%;

  h1 {
    font-size: 4rem;
  }

  p {
    line-height: 160%;
  }

  h1,
  p {
    margin-bottom: 30px;
  }
}

.about {
  padding: 20px;
  background: rgba(240, 99, 184, 0.15) url("../img/bg/bg-about.svg");
  background-repeat: no-repeat;
  border-radius: 50px;
  background-position: 50% 24%;
  background-size: 65%;

  h1 {
    line-height: 130%;
    margin-bottom: 250px;
    text-align: center;
  }

  p {
    line-height: 160%;
    color: $darkGray;
  }
}

.features {
  margin-top: 30px;
  margin-bottom: 150px;

  .features__header {
    margin: 0 auto 70px auto;
    text-align: center;
  }

  .features__list {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 45px;
  }

  .features__item {
    position: relative;
    padding: 50px;
    line-height: 160%;
    border-radius: 50px;

    a {
      vertical-align: middle;
      text-decoration: none;
      color: $darkBlue;
      font-weight: 600;
      font-size: 1.6rem;
    }
  }

  .features__item--1 {
    background: rgba(104, 201, 186, 0.1) url("../img/bg/bg-f-1b.svg") no-repeat scroll 50% 35%;
  }

  .features__item--2 {
    background: rgba(155, 105, 226, 0.1) url("../img/bg/bg-f-2b.svg") no-repeat scroll 50% 35%;
  }

  .features__item--3 {
    background: rgba(240, 99, 184, 0.1) url("../img/bg/bg-f-3b.svg") no-repeat scroll 50% 35%;
  }

  .features__item--4 {
    background: rgba(45, 155, 219, 0.1) url("../img/bg/bg-f-4b.svg") no-repeat scroll 50% 35%;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 50px;
  }

  h2 {
    margin-bottom: 250px;
    color: $darkBlue;
    font-size: 2.4rem;
    text-align: center;
  }

  p {
    font-size: 1.6rem;
    margin-bottom: 30px;
    line-height: 160%;
  }
}

.testimonials {
  background-color: #9c69e2;
  border-radius: 50px;
  padding-bottom: 50px;

  .dots {
    display: flex;
    align-items: center;
    margin-left: 60px;
    margin-top: 100px;
    .dot {
      margin-right: 10px;
      padding: 5px;
      border-radius: 50%;
      background-color: #ddd;
    }
    .active {
      padding: 7px;
      background-color: #f063b8;
    }
  }

  .arrows {
    position: absolute;
    right: 75px;
    bottom: 63px;
    a:first-of-type {
      margin-right: 10px;
    }
  }
}

.testimonials__title {
  padding: 100px 100px 70px 60px;
  color: #fff;
}

.testimonials__cards {
  display: flex;
  width: 150%;
  transform: translateX(60px);
  .card {
    display: flex;
    height: 280px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 50px 20px;
    background: #ffffff;
    border: 1px solid #9c69e2;
    box-shadow: 0px 20px 0px rgba(49, 0, 116, 0.1);

    .contentBox {
      .person {
        font-size: 4rem;
        font-weight: 900;
        font-size: 18px;
        line-height: 160%;
      }

      .link {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
      }

      .content {
        margin-top: 20px;
        font-size: 15px;
        line-height: 180%;
        color: #4b5d68;
      }
    }

    .avatarBox {
      .avatar {
        width: 90px;
        height: 90px;
        margin-right: 20px;
        border-radius: 50%;
      }
    }
  }

  .one {
    width: 58%;
  }

  .two,
  .three {
    width: 36%;
  }
}
